### Sync Tag Tables

This notebook was used to ensure that the user created movie tags referenced the unique tag id that would be stored in the Tag table in the database.

In [25]:
import pandas as pd
import numpy as np

dt = pd.read_csv("../stored-tags.csv")
dt["index"] = dt["index"].astype(int)
dt.head()

   index           tag
0      0          epic
1      1      Medieval
2      2        sci-fi
3      3  space action
4      4  imdb top 250

In [27]:
df = pd.read_csv("../data/ml-latest/tags.csv")
df["tag_id"] = 0
df.head()

   userId  movieId           tag   timestamp  tag_id
0      14      110          epic  1443148538       0
1      14      110      Medieval  1443148532       0
2      14      260        sci-fi  1442169410       0
3      14      260  space action  1442169421       0
4      14      318  imdb top 250  1442615195       0

In [36]:
# Iteratively assign the unique tag_id to rows with that tag
for index, row in dt.iterrows():
    df.loc[df["tag"] == row[1], "tag_id"] = row[0]

In [39]:
df.sample(5)

        userId  movieId                      tag   timestamp  tag_id
688555  144553    96610              time travel  1353899121     333
223767   63230   162606    character development  1478725924    2155
439418   73406   164296                 basement  1526617425   16785
274960   72541   120466  artificial intelligence  1525467940      85
648779  131553     3052               irreverent  1441778883    3960

In [37]:
df[["userId", "movieId", "tag_id", "timestamp"]].to_csv("indexed_tags.csv")